## SCITOOLS DEFAULT CONFIGURATION FILE (VERSIOn 2.0)
## Add in the default variable that you want to be set for scitools
## This file should be saved as ".scitools.cfg" in your home directory
## For advanced users, a "[anything].cfg" file can be specified as the
## first argument in a scitools call.
##
## FASTQ DEFAULT LOCATIONS (optional shortcuts)
## Directory to look for fastq files from a sequencing run (pre-SCI processing)
fastq_input_directory=/home/groups/oroaklab/fastq
##
## Directory to store SCI-formatted and barcode-matched fastq files
SCI_fastq_directory=/home/groups/oroaklab/demultiplex
##
##
## INDEX AND MODE LOCATIONS (to override files included with scitools)
## Default location is for the files present in the scitools directory, to
## specify specific alternative locations, un-comment the variables below
##
## Directory where each file is an index.txt file
index_directory=/home/groups/oroaklab/src/scitools2/index_files
##
## REFERENCE GENOME LOCATIONS (optional shortcuts)
## Note: scitools looks for the following files:
##  [ref.fa].[bwa_index]
##  [ref.fa].fai
## To enable "hg38", "hg19", and "mm10" shorcut usage, ensure all files are present
## To add in a new default, it must be in the format [shortcut name]_ref and then
## the path to the fasta file where other associated files are present.
## If SNAP aligner references are present, they must be a folder "snap" in the
## same directory as the fasta file listed as the shortcut.
hg19_ref=/home/groups/oroaklab/refs/hg19/hg19.fa
hg38_ref=/home/groups/oroaklab/refs/hg38/hg38.fa
mm10_ref=/home/groups/oroaklab/refs/mm10/mm10.fa
hg38na_ref=/home/groups/oroaklab/refs/hg38/hs38d1_noalt.fna.gz
mm10na_ref=/home/groups/oroaklab/refs/mm10/GCA_000001635.5_GRCm38.p3_noalt.fna.gz
hg38mm10_ref=/home/groups/oroaklab/refs/hybrid.hg38.mm10/hybrid.hg38.mm10.fa
dm6_ref=/home/groups/oroaklab/refs/dm6/dm6.fa
##
## SOFTWARE DEFAULTS
## Default is to call the executable name
## Specify the command-line-callable command here if it differs
gzip=gzip
pigz=pigz
zcat=zcat
bwa=bwa
samtools=samtools
scitools=scitools
macs2=macs2
bedtools=bedtools
Rscript=Rscript
Pscript=python
bedops=bedops